*{
    margin:0;
    padding: 0;
    box-sizing: border-box; 
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
 
nav{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  background-color: #343536;
  color: white;
  font-family: sans-serif;
  box-shadow: 5px 5px 15px 5px #B1B1B1;
}

#myProgress{
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  align-items: center;
  height:5rem;
}

#progressText{
  justify-content: center;
  justify-items: center;
  justify-self: center;
  justify-items: center;
}


#myBar{
  min-width: 80%;
  height: 1rem;
  border-radius: 25px;
  justify-self: center;
  background-color: #eeecec;
}

#currentProgress{
  width: 10%;
  height: 1rem;
  border-radius: 25px;
  background-color: #55cfd3;
  line-height: 30px; 
}


#backBtn{
  content: "";
  width: 1em;
  height: 1em;
  border-right: 0.2em solid black;
  border-top: 0.2em solid black;
  transform: rotate(220deg);
  margin-right: 0.5em;
  cursor: pointer;
  visibility: hidden;
}


#myRange{
  -webkit-appearance: none;
  display:block;
  margin:0 auto 2rem;
  width: 60%;
  height:1.5rem;
  border-radius: 25px;
  outline: none;
  background-color: #eeecec;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 25px; 
  height: 25px;
  background: lightblue; 
  border-radius: 50%;
  cursor: pointer; 
}

.slider::-webkit-slider-thumb:hover{
    transition-duration: 500ms;
    transform:scale(1.3);
}

#getAge h3{
  color:rgb(201, 201, 201);
  margin:2rem auto;
}

#ageNext{
  padding:1.5rem 3.5rem;
  background-color: white;
  border: none;
  box-shadow: 2px 2px 13px 2px #B1B1B1;
}

#ageNext:hover:enabled{
  transition-duration: 300ms;
  transform:scale(1.3);
  cursor: pointer;
  background-color:black;
  color:white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
