@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box; 
}

.App {
  text-align: center;
}

h3{
  font-family:'Montserrat', sans-serif;
}

/* Navigation Bar */
nav{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  background-color: black;
  color: white;
  font-family: sans-serif;
}

.nav-header {
display: flex;
align-items: center;
justify-content: space-between;
padding: 1rem;
}

.nav-toggle {
font-size: 1.5rem;
color: var(--clr-primary-5);
background: transparent;
border-color: transparent;
transition: all 0.3s linear;
cursor: pointer;
}

.nav-toggle:hover {
    color: var(--clr-primary-1);
    transform: rotate(90deg);
}

.links a {
    /* color: var(--clr-grey-3); */
    color:var(--clr-white);
    font-size: 1rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.3s linear;
}

.links a:hover {
  transition-duration: 300ms;
  transform:scale(1.15);
}

.links {
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}
.show-links {
  height: 10rem;
}

.links {
    list-style-type: none;
    margin: auto;
}

a {
    text-decoration: none;
}

.menuBar{
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}

/*Particle background  */

.landing-bg{
  min-height:100vh;
  background-color: black;
}

.bg-text{
  position:absolute;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height:100%;
  background-color: rgba(0,0,0,0.2);
}

.bg-text p{
  margin:1.5rem 0;
  width: 80%;
}

.bg-text h3{
  margin:1.5rem 0;
}

.bg-text button{
   cursor: pointer;
  display: block;
  height: 5rem;
  width: 18rem;
  outline: none;
  border: none;
  font-size: 2rem;
  margin:1rem auto;
  background-color: white;
  color:black;
}

.bg-text button:hover{
  transform: scale(1.1);
  transition-duration: 300ms;
}

.bg-text a{
  color:black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Progress Bar */

#myProgress{
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  align-items: center;
  height:5rem;
}

#progressText{
  justify-content: center;
  justify-items: center;
  justify-self: center;
  justify-items: center;
}


#myBar{
  min-width: 80%;
  height: 1rem;
  border-radius: 25px;
  justify-self: center;
  background-color: #eeecec;
}

#currentProgress{
  width: 1%;
  height: 1rem;
  border-radius: 25px;
  background-color: #55cfd3;
  line-height: 30px; 
}

#backBtn{
  content: "";
  width: 1em;
  height: 1em;
  border-right: 0.2em solid black;
  border-top: 0.2em solid black;
  transform: rotate(220deg);
  margin-right: 0.5em;
  cursor: pointer;
  visibility: hidden;
}


/* Age Slider & Age's Next Button*/
#myRange{
  -webkit-appearance: none;
  display:block;
  margin:0 auto 2rem;
  width: 60%;
  height:1.5rem;
  border-radius: 25px;
  outline: none;
  background-color: #eeecec;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 25px; 
  height: 25px;
  background: lightblue; 
  border-radius: 50%;
  cursor: pointer; 
}

.slider::-webkit-slider-thumb:hover{
  transition-duration: 500ms;
  transform:scale(1.3);
}

#getAge h3{
  color:rgb(201, 201, 201);
  margin:2rem auto;
}

#ageNext{
  padding:1.5rem 3.5rem;
  margin-bottom: 1rem;
  background-color: white;
  border: none;
  box-shadow: 2px 2px 13px 2px #B1B1B1;
}

#ageNext:hover:enabled{
  transition-duration: 300ms;
  transform:scale(1.3);
  cursor: pointer;
  background-color:black;
  color:white;
}

/* Yes&No Button */
.answerBtn{
  cursor: pointer;
  display: block;
  height:5rem;
  width: 25rem;
  outline: none;
  border: none;
  font-size: 2rem;
  margin:1rem auto;
  background-color: white;
  box-shadow: 2px 2px 13px 2px #B1B1B1;
}

.answerBtn:hover{
  transition-duration: 300ms;
  transform:scale(1.1);
  background-color: black;
  color: white;
}

/* Result & Reset Button*/
.resultContainer{
  margin-top: 1rem;
}

.tableContainer{
    display: flex;
    flex-flow: column wrap;
    max-width: 50vw;
    align-items: center;
    margin: 1rem auto 0;
    text-align: left;
    line-height: 1.8rem;
}

.tableContainer>i{
  margin-top: 0.5rem;
  line-height: 1.2;
}

.tableContainer p{
  margin-top:-1rem;
}

#resultTable tr:nth-child(even){background-color: #f2f2f2;}

#resultTable tr:hover {background-color: #ddd;}

#resultTable th {
  padding:12px;
  text-align: left;
  background-color: #F7F7F7;
  color: black;
}

#tableAns{
  text-align: center;
}

.resultContainer button{
  cursor: pointer;
  display: block;
  height:5rem;
  width: 25rem;
  outline: none;
  border: none;
  font-size: 2rem;
  margin:1rem auto;
  background-color: white;
  box-shadow: 2px 2px 13px 2px #B1B1B1;
}

.resultContainer button:hover{
  background-color: black;
  color: white;
}

/* About pages */

.aboutContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.aboutContainer h1,h2,p{
  margin-bottom: 1rem;
}


.aboutContainer ul{
  margin-left:5%;
  margin-bottom: 1rem;
}

#aboutTitle{
  margin-bottom: 2rem;
}

.collapsible .toggle{
  background-color: #f7f7f7;
  border: unset;
  cursor: pointer;
  font: unset;
  height:5rem;
  width:80vw;
  border-radius: 5px;
  color: black;
  margin-bottom: 0.5rem;
  outline: none;
  font-family:'Montserrat', sans-serif ;
  font-size: x-large ;
  font-weight: 700;
}

.collapsible .content {
  border:1px solid #afafaf;
  text-align: justify;
  padding: 1.5rem;
  width:80vw;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5rem;
}

.collapsible .content-parent{
  height: 0px;
  overflow: hidden;
  transition: height ease-out 0.3s;
}

.toggle:hover{
  background-color: black;
  color:white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media screen and (min-width: 800px) {
  .nav-center {
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
  }
  .nav-header {
      padding: 0;
  }
  .nav-toggle {
      display: none;
  }
  .links {
      height: auto;
      display: flex;
  }
  .links a {
      padding: 0;
      margin: 0 0.5rem;
  }
  .links a:hover {
      padding: 0;
      background: transparent;
  }
  .social-icons {
      display: flex;
  }
  .social-icons a {
      margin: 0 0.5rem;
      color: var(--clr-primary-5);
      transition: all 0.3s linear;
  }
  .social-icons a:hover {
      color: var(--clr-primary-7);
  }
}